<?xml version="1.0" encoding="UTF-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="redisconnectionstring" value="HostAddress=54.172.20.246;HostPort=12574;Password=redizz;DatabaseId=0" />
		<Parameter name="invalidredisconnectionstring" value="HostAddress=54.172.20.246;HostPort=12574;Password=redizz1;DatabaseId=0" />
	</TestRunParameters>
</RunSettings>